In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read raw dataset
df = pd.read_csv('heart.csv')

In [3]:
# Analyse null values for all columns
df.isnull().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [4]:
df.dropna(inplace = True)

In [5]:
df.head(3)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1

In [6]:
sex = {
   'Male': 1,
   'Female': 0
}
df['sex'] = df.sex.map(sex)

In [7]:
cp = {
   'asymptomatic': 0,
   'non-anginal': 1,
   'atypical angina': 2,
   'typical angina': 3
}
df['cp'] = df.cp.map(cp)

In [8]:
df['exang'] = df.exang.apply(lambda x: 1 if x else 0)

In [9]:
df['fbs'] = df.fbs.apply(lambda x: 1 if x else 0)

In [10]:
restecg = {
   'normal': 1,
   'lv hypertrophy': 0,
   'st-t abnormality': 2
}
df['restecg'] = df.restecg.map(restecg)

In [11]:
thal = {
   'normal': 3,
   'reversable defect': 7,
   'fixed defect': 6
}
df['thal'] = df.thal.map(thal)

In [12]:
slope = {
   'downsloping': int(0),
   'flat': int(1),
   'upsloping': int(2)
}
df['slope'] = df.slope.map(slope)

In [13]:
df.drop('dataset', inplace=True, axis=1)

In [14]:
df['num'] = df.num.apply(lambda x: 1 if x>0 else 0)

In [15]:
df.to_csv('heart_cleaned.csv', index=False)